<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="script.js" defer></script>
	</head>
	<body>
		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://ensg_dei.gitlab.io/web-az/js/vue/#exercice-vue" target="_blank">Enoncé</a></li>
		</ul>
        <div id="app">
			<compteur></compteur>
			<form @submit.prevent="addTweet">
				<textarea v-model="message"></textarea>
				<p :class="{limite: carRestants<0 }">Caractères restants: {{ carRestants }}</p>
				<button :disabled="carRestants<0">Tweet</button>
				<input id="photo" type="checkbox" v-model="photo">
				<label for="photo">{{ photo ? "une photo" : "pas de photo" }}</label>
			</form>
			<div class="tweets">
				<tweet v-for="tweet in tweets" :image="tweet.photo" :message="tweet.message" class="tweet"/>
			</div>
		</div>
	</body>
</html>